<!DOCTYPE html>

{% load staticfiles %}

<html lang="it">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Praxis Software and Web">
    <meta name="theme-color" content="#000">

    <title>{{ descriptions.site_name }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'website/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="{% static 'website/css/grayscale.css' %}" rel="stylesheet">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    {{ descriptions.site_name }}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/website/home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/website/home#about">{% if country_code == 'IT' %}La Nostra Storia{% else %}Our Story{% endif %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/website/modenese">{% if country_code == 'IT' %}Modenese 100%{% else %}100% From Modena{% endif %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/website/products">{% if country_code == 'IT' %}Prodotti{% else %}Products{% endif %}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ descriptions.store_page_url }}"> {% if country_code == 'IT' %}Acquista{% else %}Buy{% endif %}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>